@import "tailwindcss";

@theme inline {
  --color-brand: #c8102e; /* Royal Spice red */
  --color-brand-light: #eabfb9;
  --color-bg-cream: #fdfbf7;
  --color-text-main: #1a1a1a;
  --color-veg: #10b981;
  --color-nonveg: #ef4444;
  --color-gold: #f59e0b;
}

body {
  background-color: #f0ebe1;
  color: var(--color-text-main);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
